node_modules
build.js
dist
.DS_Store
.DS_Store
.AppleDouble
.LSOverride

*.swp
*.swo
._*

node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

*/.vitepress/dist
*/.vitepress/cache

dist/
.cache/
.vite/
tmp/

.env.local
.env.*.local

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.tsbuildinfo

*.log

coverage/
*.lcov
