/**
 * Component: doc
 * -------------------------------------------------------------------------- */

.vp-doc a {
  text-decoration: none;
  text-underline-offset: 4px;
}

.vp-doc a:hover,
.vp-doc a:active {
  text-decoration: underline solid;
}

.vp-doc a:has(.VPBadge)::after {
  display: none !important;
}
